<h3 id="videoconferencing">Install Zoom</h3>

<p>
  If you haven't used Zoom before, go to the
  <a href="https://zoom.us/download">official website</a>
  to download and install the Zoom client for your computer.
</p>
<p>In this workshop, you will be "coding along" with the Instructors. We recommend using either two monitors, two machines, or dividing your screen so that you can both watch the zoom presentation and code at the same time. This <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">blog post</a> includes detailed information on how to set up your screen to follow along during the workshop.
</p>
